{% extends "base.html" %}

{% block content %}

<div class="row" style="margin:20px;">
    <div class="column ">
      <table class="ui celled padded table">
    <thead>
      <tr>
      <th width="20%">Game</th>
      <th  width="8%">Year</th>
      <th width="10%">Language</th>
      <th width="52%">Discription</th>
      <th width="10%"></th>
    </tr></thead>
    <tbody>
    {% for game in games %}
    <tr>
         <td>
           <a href="{{url_for('game', game_name=game['name'])}}">{{game['name']}}</a>
         </td>
         <td class="center aligned">
         {{game['year']}}
         </td>
         <td class="center aligned">
           {{game['language']}}
         </td>
         <td >
           {{game['discription']}}
         </td>
         <td class="single line">
           <a href="{{ url_for('edit', object='game', id=game['_id'] ) }}">
           <button class="ui icon button">
  <i class="edit icon"></i>
</button>
</a>
 <a href="{{ url_for('edit', object='game_delete', id=game['_id'] ) }}">
<button class="ui icon button">
  <i class="trash icon"></i>
</button>
</a>
         </td> </tr>
    {% endfor %}
    </tbody>
    </table>
    <table class="ui celled padded table">
    <thead>
    <tr>
    <th width="20%">Achievement</th>
    <th  width="8%">Ex. Points</th>
    <th>Games</th>
    <th width="10%"></th>
    </tr></thead>
    <tbody>
      {% for a in achievements %}
      <tr>
         <td>
           {{a['name']}}
         </td>
         <td class="center aligned">
         {{a['exp']}}
         </td>
         <td class="center aligned">
           {% for a_g in a['games'] %}
            {% for game in a_games %}
               {% if a_g == game['_id']%}
                <p>{{game['name']}} </p>
                {% endif %}
                {% endfor %}
            {% endfor %}
         </td>
         <td class="single line">
           <a href="{{ url_for('edit', object='achievement', id=a['_id'] ) }}">
           <button class="ui icon button">
  <i class="edit icon"></i>
  </button>
  </a>
  <a href="{{ url_for('edit', object='achievement_delete', id=a['_id'] ) }}">
  <button class="ui icon button">
  <i class="trash icon"></i>
  </button>
  </a>
         </td>  </tr>
      {% endfor %}
    </tbody>
    </table>
</div>

{% endblock %}
