<html>
  <head>
    {% if title %}
    <title>{{title}} - Etucexe</title>
    {% else %}
    <title>Etucexe</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic/semantic.min.css')}}">
    <script src="{{ url_for('static', filename = 'semantic/semantic.min.js')}}"></script>
  </head>
  </style>
  <body>
      <div class="ui vertical inverted left visible thin sidebar menu">
          <a class="item" href="{{url_for('index')}}">
            <b>Etucexe </b>
          </a>
          <a class="item {%- if request.path == "/games" %} active{% endif %}" href="{{url_for('games')}}">
            Games
          </a>{% if current_user.is_authenticated %}
          <a class="item {%- if request.path == "/user" %} active{% endif %}" href="{{url_for('user', username = current_user.get_id()  )}}">
            Profile
          </a>
          {% if current_user.get_id() == 'vertilo' %}
          <a class="item {%- if request.path == "/admins" %} active{% endif %}" href="{{url_for('admin')}}">
            Admin Panel
          </a>
          {% endif %}
          <div class="item" >
          <a href="{{url_for('logout')}}">Logout</a>
            {% else %}
            <a href="{{url_for('login')}}">
              <div class="item" >
              Login </a>| <a href="{{url_for('register')}}">Register</a>
            {% endif %}
          </div>
        </div>
        <div class="pusher"  style="width: calc(100% - 150px);">
    {% block content %}{% endblock %}
  </div>

    </body>
</html>
