{% extends "base.html" %}

{% block content %}

<form class="ui form" method="post">
  {{ form.hidden_tag() }}
  <div class="field">
      {{ form.name.label }}<br>
      {{ form.name(size=32) }}<br>
      {% for error in form.name.errors %}
      <p class="help is-danger">{{ error }}</p>
      {% endfor %}
    </div>
    <div class="field">
        {{ form.file.label }}<br>
        {{ form.file }}<br>
        {% for error in form.file.errors %}
        <p class="help is-danger">{{ error }}</p>
        {% endfor %}


  </div>
    <div class="field">
        {{ form.exe.label }}<br>
        {{ form.exe }}<br>
        {% for error in form.exe.errors %}
        <p class="help is-danger">{{ error }}</p>
        {% endfor %}
    </div>
    <div class="field">
        {{ form.discription.label }}<br>
        {{ form.discription }}<br>
        {% for error in form.discription.errors %}
        <p class="help is-danger">{{ error }}</p>
        {% endfor %}
    </div>
    <div class="field">
        {{ form.year.label }}<br>
        {{ form.year }}<br>
        {% for error in form.year.errors %}
        <p class="help is-danger">{{ error }}</p>
        {% endfor %}
    </div>
    <div class="field">
        {{ form.language.label }}<br>
        {{ form.language }}<br>
        {% for error in form.language.errors %}
        <p class="help is-danger">{{ error }}</p>
        {% endfor %}
    </div>
  {{ form.submit }}
</form>

{% endblock %}
