{% extends "base.html" %}

{% block content %}
<form class="ui form" method="post">
  {{ form.hidden_tag() }}
  <div class="field">
    {{ form.name.label }}<br>
          {{ form.name(size=32) }}
          {% for error in form.name.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
  </div>
  <div class="field">
    {{ form.exp.label }}<br>
            {{ form.exp(size=32) }}
            {% for error in form.exp.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
  </div>
  <div class="field">
    {{ form.games.label }}<br>
            {{ form.games }}
            {% for error in form.games.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
  </div>
  {{ form.submit(class_="ui button") }}
</form>
{% endblock %}
