{% extends "base.html" %}

{% block content %}
<style media="screen">
  .dosbox-container{
    width: 640px;
  height: 400px;
  }
</style>
<div class="ui one column stackable center aligned page grid" style="margin: 3%;">
        <div id="dosbox" style="width: 640px;"></div>
      <br>

     <script  type="text/javascript" src="https://js-dos.com/cdn/js-dos-api.js"></script>
      <script type="text/javascript">
        var dosbox = new Dosbox({
          id: "dosbox",
           onload: function (dosbox) {
            dosbox.run("{{ url_for('static', filename=gamename) }}", "{{exename}}");
          },
           onrun: function (dosbox, app) {
             console.log("App '" + app + "' is runned");
           }
         });
      </script>

    </div>
    <script    type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <div class="ui one column stackable center aligned page grid" >

        <script type=text/javascript>
          $(function() {
            $('button#complete').bind('click',function(){
              $.getJSON('/_complete', { game: '{{name}}'}, function(data) {
                if (data.result == "negative"){
                $("button#complete" ).removeClass( "green" ).addClass( "red" );
                $("button#complete").text("Remove from list");
                }
                else{
                  $( "button#complete" ).removeClass( "red" ).addClass( "green" );
                  $("button#complete").text("Add to list");
                }

              });
              return false;
            });
          });
          $(function() {
            $('button#night').bind('click',function(){
              if($('button#night').hasClass("inverted")){
                $('body').css("background-color","white");
                $( "button" ).removeClass( "inverted" );
                $( "#buttons" ).removeClass( "inverted" );
                $("button#night").text("Night Mode");
              }
              else{
                $('body').css("background-color","gray");
                $( "button" ).addClass( "inverted" );
                $( "#buttons" ).addClass( "inverted" );
                $("button#night").text("Day Mode");
                }
              });
            });
        </script>
        <div class="ui segment" id="buttons">


      <button class="ui black basic button" onclick="dosbox.requestFullScreen();" >Fullscreen</button>
      {% if listGame %}
      <button class="ui red basic button" id="complete">Remove from list</button>

      {% else %}
      <button class="ui green basic button" id="complete">Add to list</button>
      {% endif %}

      <button class="ui grey basic button" id="night">Night Mode</button>
      </div>
  </div>

{% endblock %}
