{% extends "base.html" %}

{% block content %}
<style media="screen">
#header{
  background-blend-mode: multiply;
  height: 100vh;
   background-image:url(https://orig00.deviantart.net/792a/f/2017/061/6/0/landscape_city_pixel_art_by_metalbrasier2x0-db0y5pj.gif);
   color:white;
   margin:0;
   padding: 0;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.3);
}
</style>
<div id="header">

<div class="ui grid container " style="margin: 0px; padding: 20px;">
  <table class="ui celled padded table">
<thead>
  <tr>
  <th width="20%">Title</th>
  <th  width="8%">Year</th>
  <th width="10%">Language</th>
  <th width="62%">Discription</th>
</tr></thead>
<tbody>
{% for game in games %}
<tr>
     <td>
       <a href="{{url_for('game', game_name=game['name'])}}">{{game['name']}}</a>
     </td>
     <td class="center aligned">
     {{game['year']}}
     </td>
     <td class="center aligned">
       {{game['language']}}
     </td>
     <td >
       {{game['discription']}}
     </td> </tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
{% endblock %}
