{% extends "base.html" %}

{% block content %}
<style media="screen">
@font-face {
    font-family: dosFont;
    src: url({{ url_for('static', filename = 'dos.ttf')}});
}
h1{
  font-family: dosFont;
}
#header{
  background-blend-mode: multiply;
  height: 100vh ;
   background-image:url(http://ilarge.lisimg.com/image/8315151/1024full-ninja-gaiden-ii%3A-the-dark-sword-of-chaos-screenshot.jpg);
  display: flex;flex-direction:
   column;align-items: center;
   justify-content: center;
   color:white;

  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.3);
}
</style>
<div class="ui equal width center aligned padded grid">
<div class="row" style="padding-top: 0; "id="header">
    <div class="column centered " id="header">
      <h1 id="name">ETUC.EXE</h1>
</div>
</div>
    </div>
{% endblock %}
