{% extends "base.html" %}

{% block content %}

  <div class="ui one column stackable center aligned page grid">
    <div class="column twelve wide">
<form class="ui form" method="post">
  {{ form.hidden_tag() }}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class="field">
    {{ form.username.label }}<br>
          {{ form.username(size=32) }}
          {% for error in form.username.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
  </div>
  <div class="field">
    {{ form.password.label }}<br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
  </div>
  <div class="field">
    <div class="ui checkbox">
      {{ form.remember_me() }} {{ form.remember_me.label }}
    </div>
  </div>
  {{ form.submit(class_="ui button") }}
</form>
</div>
</div>
{% endblock %}
