{% extends "base.html" %}

{% block content %}
<div class="columns">
  <div class="column">
    <div class="ui one column stackable center aligned page grid">
      <div class="column twelve wide">
<form class="ui form" method="post">
        {{ form.hidden_tag() }}
        <div class="field"><p>
            {{ form.username.label }}<br>
            <div class="control">
            {% if form.username.errors %}
            {{ form.username(size=32, class_="input is-danger") }}<br>
            {% else %}
            {{ form.username(size=32, class_="input") }}<br>
            {% endif %}
            {% for error in form.username.errors %}
            <p class="help is-danger">{{ error }}</p>
            {% endfor %}
            </div>
        </div>
        </p>
        <p>
          <div class="field">
            {{ form.password.label }}<br>
            <div class="control">
            {% if form.username.errors %}
            {{ form.password(size=32, class_="is-danger") }}<br>
            {% else %}
            {{ form.password(size=32, class_="input") }}<br>
            {% endif %}
            {% for error in form.password.errors %}
            <p class="help is-danger">{{ error }}</p>
            {% endfor %}
            </div>
            </div>

        </p>
        <p>
          <div class="field">
          {{ form.password2.label }}<br>
          <div class="control">
          {% if form.password.errors %}
          {{ form.password2(size=32, class_="is-danger") }}<br>
          {% else %}
          {{ form.password2(size=32, class_="input") }}<br>
          {% endif %}
          {% for error in form.password2.errors %}
          <p class="help is-danger">{{ error }}</p>
          {% endfor %}
          </div>
          </div>
        </p>
        <div class="field">
        <div class="control">
        <p>{{ form.submit(class_="button is-primary") }}</p>
        </div>
        </div>
    </form>
  </div>
  <div class="column">
  </div>
</div>
</div>
</div>
{% endblock %}
