{% extends "base.html" %}

{% block content %}
<style media="screen">
@font-face {
    font-family: dosFont;
    src: url({{ url_for('static', filename = 'dos.ttf')}});
}
h1{
  font-family: dosFont;
}
#header{
  background-blend-mode: multiply;
  height: 50vh; background-image:url(https://wallpaper-house.com/data/out/12/wallpaper2you_504226.png);
  display: flex;flex-direction:
   column;align-items: center;
   justify-content: center;
   color:white;

  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.9);
}
</style>
<script    type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="ui equal width center aligned padded grid">
<div class="row" style="padding-top: 0; ">
    <div class="column centered " id="header">
      <h1 id="name">{{user['_id']}}</h1>
      <h2>{{user['lvl']}} level</h2>
      <div class="ui {{color[user['lvl']//10]}}  progress" style="width: 400px;">
  <div class="bar" style="width: {{((user['exp']-min_exp * 100)/(max_exp - min_exp))*100}}%;">
  <div class="progress" >{{((((user['exp']-min_exp * 100)/(max_exp - min_exp))*100)|round(0)|string).rstrip('0').rstrip('.')}}%</div>
</div>
</div>
    </div>
  </div>
  <div class="row">
      <div class="column "><h1>Games</h1>
        <table class="ui celled padded table">
      <thead>
        <tr>
        <th width="20%">Title</th>
        <th  width="8%">Year</th>
        <th width="10%">Language</th>
      </tr></thead>
      <tbody>
      {% for game in games %}
      <tr>
           <td>
             <a href="{{url_for('game', game_name=game['name'])}}">{{game['name']}}</a>
           </td>
           <td class="center aligned">
           {{game['year']}}
           </td>
           <td class="center aligned">
             {{game['language']}}
           </td> </tr>
      {% endfor %}
      </tbody>
      </table>
      </div>
      <div class="column "><h1>Achievements</h1>
        <table class="ui celled padded table">
      <thead>
        <tr>
        <th width="20%">Name</th>
        <th  width="8%">Ex.Points</th>
      </tr></thead>
      <tbody>
      {% for a in achievements %}
      <tr>
           <td>
             {{a['name']}}
           </td>
           <td class="center aligned">
           {{a['exp']}} points
           </td> </tr>
      {% endfor %}
      </tbody>
      </table>
      </div>
</div>
</div>

{% endblock %}
